{% extends "teams/base.html" %}
{% load staticfiles %}

{% block title %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{% static 'teams/updateSchedule.js' %}"></script>
{% endblock %}

{% block user %}
    {% if user %}
        <div id="user-name">{{ user }}</div>
    {% endif %}
{% endblock %}

{% block header %}
<table width="75%">
    <tr>
        <th id="indexTab" width="8%">
            <a id="index" href="{% url 'index' %}" class="menu-link" data-page="index">Main</a>
        </th>
        <th id="viewPlayersTab" width="10%">
            <a id="viewPlayers" href="{% url 'viewPlayers' %}" class="menu-link" data-page="viewPlayers">Players</a>
        </th>
        <th id="youarehere" width="14%">
            <a id="youarehere" href="{% url 'viewSchedule' %}" class="menu-link" data-page="viewSchedule">View Schedule</a>
        </th>
        {% if not admin %}
            <th id="viewTeamTab" width="14%">
            <a id="viewTeam" href="{% url 'viewTeam' team_id %}" class="menu-link" data-page="viewTeam">Fantasy Team</a>
            </th>
        {% else %}
            <th id="viewTeamTab" width="12%">
            <a id="viewTeam" href="{% url 'viewNFLTeam' team_id %}" class="menu-link" data-page="viewNFLTeam">NFL Team</a>
            </th>
        {% endif %}
        {% if not admin %}
            <th id="joinGameTab" width="12%">
            <a id="joinGame" href="{% url 'submitTeam' %}" class="menu-link" data-page="submitTeam">Join Game</a>
            </th>
        {% else %}
            <th id="gameTab" width="14%">
            <a id="updateGame" href="{% url 'updateGame' %}" class="menu-link" data-page="updateGame">Update Game</a>
            </th>
        {% endif %}
        <th id="loginTab" width="9%">
            <a id="login" href="{% url 'login' %}" class="menu-link" data-page="login">Login</a>
        </th>
        <th id="logoutTab" width="9%">
            <a id="logout" href="{% url 'logout' %}"  class="menu-link" data-page="logout">Logout</a>
        </th>
    </tr>
</table>
{% endblock %}

{% block body %}
<div class="row no-gutters">
  <div class="col-md-12" id="menubody">
    <div id="main" width=100%>
      <div class="callout" width="100%">
        <p id="main-margin">&nbsp</p>
        <div class="card">
          {% if game %}
            <div class="row no-gutters" class="title-row">
                <div class="col-md-12">
                <h2>Update Schedule</h2>
                </div>
            </div>
            <div class="row no-gutters" class="title-row">
                <div class="col-md-12">
                <h2>&nbsp</h2>
                </div>
            </div>
            <form id="player-update" action="{% url 'updateSchedule' game.id %}" method="post">
              {% csrf_token %}
                <span class="player-row">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <p>Day: {{ game.get_day_display }}</p>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="day" value="{{ game.day }}" min="0" max="3" required> 
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <p>Month: {{ game.get_month_display }}</p>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="month" value="{{ game.month }}" min="1" max="12" required> 
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <p>Date: {{ game.get_date_display }}</p>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="date" value="{{ game.date }}" min="1" max="31" required> 
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <p id="awayTeam" type="hidden">{{ game.awayTeam }}</p>
                      <p>Away Team Name: {{ game.get_awayTeam_display}}</p>
                    </div>
                    <div class="col-md-6">
                      <select name="away" id="away" required>
                        <option value=0 selected>Buffalo Bills</option>
                        <option value=1>Miami Dolphins</option>
                        <option value=2>New England Patriots</option>
                        <option value=3>New York Jets</option>
                        <option value=4>Baltimore Ravens</option>
                        <option value=5>Cincinnati Bengals</option>
                        <option value=6>Cleveland Browns</option>
                        <option value=7>Pittsburgh Steelers</option>
                        <option value=8>Houston Texans</option>
                        <option value=9>Indianapolis Colts</option>
                        <option value=10>Jacksonville Jaguars</option>
                        <option value=11>Tennessee Titans</option>
                        <option value=12>Denver Broncos</option>
                        <option value=13>Kansas City Chiefs</option>
                        <option value=14>Los Angeles Chargers</option>
                        <option value=15>Oakland Raiders</option>
                        <option value=16>Dallas Cowboys</option>
                        <option value=17>New York Giants</option>
                        <option value=18>Philadelphia Eagles</option>
                        <option value=19>Washington Redskins</option>
                        <option value=20>Chicago Bears</option>
                        <option value=21>Detroit Lions</option>
                        <option value=22>Green Bay Packers</option>
                        <option value=23>Minnesota Vikings</option>
                        <option value=24>Atlanta Flacons</option>
                        <option value=25>Carolina Panthers</option>
                        <option value=26>New Orleans Saints</option>
                        <option value=27>Tampa Bay Buccaneers</option>
                        <option value=28>Arizona Cardinals</option>
                        <option value=29>Los Angeles Rams </option>
                        <option value=30>San Francisco 49ers</option>
                        <option value=31>Seattle Seahawks</option>
                      </select>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <p id="homeTeam" type="hidden">{{ game.homeTeam }}</p>
                      <p>Home Team Name: {{ game.get_homeTeam_display}}</p>
                    </div>
                    <div class="col-md-6">
                      <select name="home" id="home" required>
                        <option value=0 selected>Buffalo Bills</option>
                        <option value=1>Miami Dolphins</option>
                        <option value=2>New England Patriots</option>
                        <option value=3>New York Jets</option>
                        <option value=4>Baltimore Ravens</option>
                        <option value=5>Cincinnati Bengals</option>
                        <option value=6>Cleveland Browns</option>
                        <option value=7>Pittsburgh Steelers</option>
                        <option value=8>Houston Texans</option>
                        <option value=9>Indianapolis Colts</option>
                        <option value=10>Jacksonville Jaguars</option>
                        <option value=11>Tennessee Titans</option>
                        <option value=12>Denver Broncos</option>
                        <option value=13>Kansas City Chiefs</option>
                        <option value=14>Los Angeles Chargers</option>
                        <option value=15>Oakland Raiders</option>
                        <option value=16>Dallas Cowboys</option>
                        <option value=17>New York Giants</option>
                        <option value=18>Philadelphia Eagles</option>
                        <option value=19>Washington Redskins</option>
                        <option value=20>Chicago Bears</option>
                        <option value=21>Detroit Lions</option>
                        <option value=22>Green Bay Packers</option>
                        <option value=23>Minnesota Vikings</option>
                        <option value=24>Atlanta Flacons</option>
                        <option value=25>Carolina Panthers</option>
                        <option value=26>New Orleans Saints</option>
                        <option value=27>Tampa Bay Buccaneers</option>
                        <option value=28>Arizona Cardinals</option>
                        <option value=29>Los Angeles Rams </option>
                        <option value=30>San Francisco 49ers</option>
                        <option value=31>Seattle Seahawks</option>
                      </select>
                    </div>
                  </div>      
                </span> 
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <p>&nbsp</p>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <input class="submit-player" type="submit" value="Update Schedule"/>
                  </div>
                  <div class="col-md-6">
                    <button class="view-player" required><a title="Go Back to View Schedule Details" href="{% url 'viewSchedule' %}">Cancel (Back)</a></button>
                  </div>
                </div>        
            </form>
            <div class="row no-gutters">
              <div class="col-md-12">
                <p>&nbsp</p>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-12"><a href="{% url 'index' %}">Return to main page</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
